<!--Finding A Business-->
<section id="header">
  <div class="container">
    <div class="header-text">
      <h1>Want to find a business?</h1>
      <br>
      <p>Use our navigation tool! Here you can find various of businesses, ranging from bakeries to homemade jewelry
        for your loved one!</p>
      <br>
      <form action="/businesses/search" , method="GET">
        <input id="input-form" type="text" name="name" placeholder="Search...">
        {{!-- <button type="button" class="btn btn-secondary">Submit</button> --}}
        <input id="save-button" type="submit" value="Search" class="btn">
      </form>
      <br/><br />
      <h3>Local Businesses: </h3><br/>
      {{#if businesses}}
      {{#each businesses}}
      <div class="card">
      <p><u>Name</u>: {{name}}</p>
      <p><u>Location</u>: {{location}}</p>
      <p><u>Hours</u>: {{hours}}</p>
      <p><u>Content</u>: {{content}}</p>
      <p><u>Tags</u>: {{tags}}</p>
      </div>
      <br/>
      {{/each}}
      {{else}}
      <p>There are no businesses that match your query</p>
      {{/if}}

    </div>
  </div>

</section>
