{{!--
<!--Starting of Nav-->
<nav>
  <div class="logo">
    <img src="images/ro.png">
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="#">Find My Business</a></li>
      <li><a href="signin.html">Sign In</a></li>
      <li><a href="myinfo.html">My Info</a></li>
    </ul>
  </div>
</nav>
<!--Ending of Nav--> --}}
<!--Finding A Business-->
<section id="header">
  <div class="container">
    <div class="header-text">
      <h1>Want to find a business?</h1>
      <br>
      <p>Use our naviagtion tool! Here you can find various of businesses, ranging from bakeries to homemade jewelry
        for your loved one!</p>
      <br>
      <form action="/businesses/search"></form>
      {{#if businesses}}
      {{#each businesses}}
      <p>---</p>
      <p>name: {{name}}</p>
      <p>location: {{location}}</p>
      <p>hours: {{hours}}</p>
      <p>content: {{content}}</p>
      <p>tags: {{tags}}</p>
      {{/each}}
      {{else}}
      <p>There are no businesses that match your query</p>
      {{/if}}

    </div>
  </div>

</section>