<!--Finding A Business-->
<section id="header">
  <div class="container">
    <div class="header-text">
      <h1>Want to find a business?</h1>
      <br>
      <p>Use our navigation tool! Here you can find various of businesses, ranging from bakeries to homemade jewelry
        for your loved one!</p>
      <br>
      <form action="/businesses/search" , method="GET">
        <input type="text" name="name" placeholder="Search...">
        {{!-- <button type="button" class="btn btn-secondary">Submit</button> --}}
        <input type="submit" value="Save" class="btn">
      </form>
      {{#if businesses}}
      {{#each businesses}}
      <p>---</p>
      <p>name: {{name}}</p>
      <p>location: {{location}}</p>
      <p>hours: {{hours}}</p>
      <p>content: {{content}}</p>
      <p>tags: {{tags}}</p>
      {{/each}}
      {{else}}
      <p>There are no businesses that match your query</p>
      {{/if}}

    </div>
  </div>

</section>