{{!--
<!--Starting of Nav-->
<nav>
  <div class="logo">
    <img src="images/ro.png">
  </div>
  <div class="nav-links">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="business.html">Find My Business</a></li>
      <li><a href="signin.html">Sign In</a></li>
      <li><a href="#">My Info</a></li>
    </ul>
  </div>
</nav>
<!--Ending of Nav--> --}}
<!--My Info-->
<section id="header">
  <div class="container">
    <div class="header-text">
      {{!-- <h1>My Information</h1>
      <br>
      <p>→ Update information.</p>
      <br>


      </p> --}}
      <p>Hello, {{name}}</p>
      <p>Your businesses:</p>
      <a href="/account/add">add a business</a>
      {{#if businesses}}
      {{#each businesses}}
      <fieldset>
        <p>Name: {{name}}</p>
        <p>Hours: {{hours}}</p>
        <p>Content:{{content}}</p>
        <p>Tags:{{tags}}</p>
        <a href="/account/edit/{{_id}}" class="btn btn-float">
          edit
        </a>
      </fieldset>
      {{/each}}
      {{else}}
      <p>You have no businesses</p>
      {{/if}}

    </div>
  </div>

</section>